<div class="container__box">
    <header class="header">
        <div class="header__wrapper">
            <div class="main__logo">
                <img src="/assets/images/svg/main_logo.svg" alt="coke"/> 
            </div>
            <div class="cart__icon">
                <img src="/assets/images/svg/cart.svg" alt="checkout" /> 
            </div>
        </div>
    </header>
    <div style="height: 54px;"></div>

    <div class="content__box">

        <div class="search__container">
            <div class="search__icon__box"></div>
            <input class="search__input" placeholder="Search for beverage..." />
        </div>


        <div class="slider-wrapper">
           <div class="wrapper"></div>
           <div class="hero-banner"></div>
           <div class="wrapper"></div>
        </div>

        <div class="tab__container">
            <p class="title">Drink what makes you happy!</p>
            <div class="griddy">
                <div class="grid__item">
                    <div class="icon__wrapper">
                        <img class="icon" src="/assets/images/svg/basket.svg" alt="Promotions & Products" />
                    </div>
                    <div class="detail">Promotions <br /> & Products</div>
                </div>
                <div class="grid__item">
                    <div class="icon__wrapper">
                        <img class="icon" src="/assets/images/svg/promotions.svg" alt="Promotions" />
                    </div>
                    <div class="detail">Promotions</div>
                </div>
                <div class="grid__item">
                    <div class="icon__wrapper">
                        <img class="icon" src="/assets/images/svg/recent_order.svg" alt="Recently Ordered" />
                    </div>
                    <div class="detail">Recently Ordered</div>
                </div>
            </div>
        </div>

        <div class="jumbo__container">
            <div class="products__title">Promotions on</div>
            <div class="products__container">
                <div class="product-card">
                    <div class="product-tumb">
                        <div class="icon"></div>
                        <img class="img__wrapper" src="/assets/images/png/product_img.png" alt="">
                    </div>
                    <div class="product__details">
                        <div class="product__text__wrapper">
                            <p class="product__name">Kinley 5 case offer</p>
                            <p class="product__quantity">7.5 fl oz, 10 pack</p>
                            <p class="product__price">$14.95</p>
                        </div>
                        <div class="product-bottom-details">
                            <div class="btn">ADD</div>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-tumb">
                        <div class="icon"></div>
                        <img class="img__wrapper" src="/assets/images/png/product_img.png" alt="">
                    </div>
                    <div class="product__details">
                        <div class="product__text__wrapper">
                            <p class="product__name">Kinley 5 case offer</p>
                            <p class="product__quantity">7.5 fl oz, 10 pack</p>
                            <p class="product__price">$14.95</p>
                        </div>
                        <div class="product-bottom-details">
                            <div class="btn">ADD</div>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-tumb">
                        <div class="icon"></div>
                        <img class="img__wrapper" src="/assets/images/png/product_img.png" alt="">
                    </div>
                    <div class="product__details">
                        <div class="product__text__wrapper">
                            <p class="product__name">Kinley 5 case offer</p>
                            <p class="product__quantity">7.5 fl oz, 10 pack</p>
                            <p class="product__price">$14.95</p>
                        </div>
                        <div class="product-bottom-details">
                            <div class="btn">ADD</div>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-tumb">
                        <div class="icon"></div>
                        <img class="img__wrapper" src="/assets/images/png/product_img.png" alt="">
                    </div>
                    <div class="product__details">
                        <div class="product__text__wrapper">
                            <p class="product__name">Kinley 5 case offer</p>
                            <p class="product__quantity">7.5 fl oz, 10 pack</p>
                            <p class="product__price">$14.95</p>
                        </div>
                        <div class="product-bottom-details">
                            <div class="btn">ADD</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product__wrapper">
            <div class="product__header__bar">
                <div class="title">Products</div>
                <div class="dropdown__filter">
                    <label class="drop">
                        <input type="checkbox" id="target-drop-example">
                        <span class="control">Sort by: <strong>Volume</strong></span>
                        <ul class="drop-items">
                            <li class="item-drop">Name</li>
                            <li class="item-drop">Price</li>
                            <li class="item-drop">Quantity</li>
                        </ul>
                        <!-- Alternative to close dropdown with click out -->
                        <label for="target-drop-example" class="overlay-close"></label>
                    </label>   
                </div>
            </div>
            <div class="product__item__container">
                <div class="faq-drawer">
                    <input class="faq-drawer__trigger" id="faq-drawer" type="checkbox" />
                    <label class="faq-drawer__title" for="faq-drawer">
                        2 Ltr
                        <div class="product__bar__icon"><img src="/assets/images/svg/coke.svg" /></div>
                    </label>
                    <div class="faq-drawer__content-wrapper">
                        <div class="faq-drawer__content">
                            <div class="products__container inner">
                                <div class="product-card">
                                    <div class="product-tumb inner">
                                        <div class="innerbox">
                                            <img class="img__wrapper" src="/assets/images/svg/sprite_xl.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="product__details inner">
                                        <div class="product__text__wrapper">
                                            <p class="product__name">Kinley 5 case offer</p>
                                            <p class="product__quantity">7.5 fl oz, 10 pack</p>
                                            <p class="product__price">$14.95</p>
                                        </div>
                                        <div class="product-bottom-details">
                                            <div class="btn">ADD</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-card">
                                    <div class="product-tumb inner">
                                        <div class="innerbox">
                                            <img class="img__wrapper" src="/assets/images/svg/coke_xl.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="product__details inner">
                                        <div class="product__text__wrapper">
                                            <p class="product__name">Kinley 5 case offer</p>
                                            <p class="product__quantity">7.5 fl oz, 10 pack</p>
                                            <p class="product__price">$14.95</p>
                                        </div>
                                        <div class="product-bottom-details">
                                            <div class="btn">ADD</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-card">
                                    <div class="product-tumb inner">
                                        <div class="innerbox">
                                            <img class="img__wrapper" src="/assets/images/svg/fanta_xl.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="product__details inner">
                                        <div class="product__text__wrapper">
                                            <p class="product__name">Kinley 5 case offer</p>
                                            <p class="product__quantity">7.5 fl oz, 10 pack</p>
                                            <p class="product__price">$14.95</p>
                                        </div>
                                        <div class="product-bottom-details">
                                            <div class="btn">ADD</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-card">
                                    <div class="product-tumb inner">
                                        <div class="innerbox">
                                            <img class="img__wrapper" src="/assets/images/svg/coke_zero_xl.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="product__details inner">
                                        <div class="product__text__wrapper">
                                            <p class="product__name">Kinley 5 case offer</p>
                                            <p class="product__quantity">7.5 fl oz, 10 pack</p>
                                            <p class="product__price">$14.95</p>
                                        </div>
                                        <div class="product-bottom-details">
                                            <div class="btn">ADD</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>