<div class="container__box" id="homepage">



    <!-- Main body content -->
    <div class="content__box">

        <!-- Search Box -->
        <div class="search__container">
            <div class="search__icon__box">
                <img src="/coke/assets/images/svg/search.svg" />
            </div>
            <div class="close__icon__box">
                <img src="/coke/assets/images/svg/close.svg" />
            </div>
            <input id="search_input" class="search__input" autocomplete="off" />
            <div class="search__product__box" id="search_product_box">
                <div id="search_product_wrap"></div>
            </div>
            
        </div>

        <div class="bannerSlider">
            <div class="slider-wrapper">
                <img src="/coke/assets/images/svg/image 9.svg" />
            </div>
            <div class="slider-wrapper">
                <img src="/coke/assets/images/svg/image 9.svg" />
            </div>
            <div class="slider-wrapper">
                <img src="/coke/assets/images/svg/image 9.svg" />
            </div>
        </div>
                 

        <!-- Main Hero Banner -->
        <!-- <div class="slider-wrapper">
            <div class="wrapper"></div>
            <div class="hero-banner"></div>
            <div class="wrapper"></div>
        </div> -->


        <!-- Tab switcher -->
        <div class="tab__container" id="tab_container">
            <div class="griddy" id="griddy">
            </div>
        </div>


        <!-- Products card container -->
        <div class="jumbo__container" id="promotions_container">

            <div class="products__container" id="promotions_products_container">

            </div>
        </div>

        <!-- Recent order history container -->
        <div class="orderhistory__container" id="orderhistory_container">

            <div class="orderhistory__container__inner" id="orderhistory_container__inner">

            </div>

        </div>

        <div class="product__wrapper" id="product_wrapper">
            <div class="product__header__bar" id="product_header_bar">


                <!-- Filter Dropdown -->
                
                <div class="dropdown__filter">
                    <label class="drop">
                        <input type="checkbox" id="target-drop-example">
                        <span class="control">Sort by: <strong><span id="dpValue">Volume</span></strong></span>
                        <ul class="drop-items" id="dropdown_items">

                        </ul>
                        <label for="target-drop-example" class="overlay-close"></label>
                    </label>
                </div>
                
            </div>


            <!-- Product Carousel -->
            <div class="product__item__container" id="product_item_container">

            </div>

        </div>
    </div>

    <div class="sticky__footer">
        <div class="wrapper__bar">
            <div class="product__details__sticky">
                <div class="icon">
                    <img src="/coke/assets/images/svg/sticky_footer_cart.svg" alt="checkout" />
                </div>
                <div class="details">
                    <div id="sticky_cart_price"></div>
                    <div id="sticky_cart_quantity"></div>
                </div>
            </div>
            <div class="view__cart__cta" onclick="renderPage('checkoutpage')">VIEW CART</div>
        </div>
    </div>
    <script>
        $(".bannerSlider").slick({
            infinite: true,
            centerMode: true,
            centerPadding: '60px',
            slidesToShow: 1,
            speed: 1300,
            autoplay: true,
            autoplaySpeed: 3000,
            responsive: [
                {
                breakpoint: 768,
                settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                }
                },
                {
                breakpoint: 480,
                settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                }
                }
            ]
            });
    </script>
</div>
