

<div class="checkout__container" id="checkoutpage">
    <div id="notification_bar"></div>
    <div class="order__wrapper">
        <div class="title">Your order</div>
        <div class="order__container" id="order_checkout_cart">

        </div>
    </div>

    
    <div class="coupon__parent__wrapper">
        <div class="title__container">
            <div class="title__bar" id="title_box">
                <div class="title">Promotions details</div>
                <div class="loader__coupon" id="loader_coupon"></div>
            </div>
            <div class="title__loader" id="title_loader"></div>
        </div>
        
        <div id="coupon_container">
        
        </div>
    </div>
    

    <div class="more__offers__parent__container" id="offers_parent_container">
        <div id="offers_height_box">

            <div class="view__less" onclick="hideDiscount()">View less</div>
        </div>
    </div>


    <div class="delivery__details__container" id="order_summary">
        <div class="title__bar" id="title_box">
            <div class="title">Order summary<span id="text__loading"></span></div>
            <div class="loader__coupon" id="loader_summary_bar"></div>
        </div>
        
    </div>


    <div class="delivery__details__container" id="distributor_details_container">
        
    </div>


    <div class="delivery__details__container" id="delivery_details_container">
        
    </div>

    <div class="buyout__btn__wrapper">
        <div id="continue_cta" class="buyout__btn">Place Order</div>
        <div class="buyout__btn" onclick="renderPage('homepage')">Add Items</div>
    </div>
</div>


<script src="/coke/assets/js/checkout.js"></script>
